@{
    ViewBag.Title = "Página Inicial";
}

<div id="info">

<br /><br /><br />
    <h1>Bem vindo!</h1>
    <p>Os Restaurantes do grupo ENJOB. oferecem ambientes lindos, riqueza na flora natural, hípica e atrações para as crianças, fábrica de doces, linguiçário próprio, loja de artesanatos de todo Brasil, e claro, uma deliciosa comida servida por pratos a la carte e Buffet de doces.</p>
    
    <div id="contato">
        <h1>Reservas</h1>
        <p>Cel: (34) 99192-8404<br />
        E-mail: mr.joaomarcelo@gmail.com</p>
        <div class="tracoPeq"></div>
        <h1>Horário de funcionamento</h1>
        <p>Aberto se sexta a quarta das 22:00 até o último cliente.<br />
        Pets n são aceitos</p>
    </div>
    <div class="tracoPeq" style="width:15em; margin-bottom:3em;"></div>
    <p>Localização:<br />
    lins de vasconcelos<br />
    São Paulo, SP
    </p>
</div>