@model Restaurante.Models.Restaurante
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


<div class="transparente">
    <h2>Cadastro de restaurante</h2>

    <fieldset>
        <legend>Dados</legend>
        <form method="get" action="Alterar">
            <input type="hidden" id="id" value="@Model.RestauranteId" name="id" />
            <label for="nomeRestaurante">Nome do restaurante:</label>
            <br />
            <input type="text" name="nomeRestaurante" class="maior" id="nomeRestaurante" value="@Model.NomeRestaurante" required/>
            <br />
            <input type="reset" value="Cancelar" class="btnVermelho btn" />

            <input type="submit" value="Salvar" class="btnVerde btn" />
        </form>
    </fieldset>
</div>